DB_MASTER_HOST=project-rds-mysql-prod2.clawcms0eqa7.eu-central-1.rds.amazonaws.com
DB_MASTER_PORT=3306
DB_MASTER_NAME=app_db
DB_MASTER_USER=admin
DB_MASTER_PASS=

DB_REPLICA_HOST=project-rds-mysql-read-replica.clawcms0eqa7.eu-central-1.rds.amazonaws.com
DB_REPLICA_PORT=3306
DB_REPLICA_NAME=app_db
DB_REPLICA_USER=admin
DB_REPLICA_PASS=